.logo_place_header{
  position: absolute;
  z-index: 1;
  left: 64px;
  top: 30px;
  background-image: url(../images/logo_place_header.png);
}
.title_color_white,
.subtitle_color_white {
  color: white;
  position: relative;
  z-index: 2;
}
.logo_place_footer{
  margin: 0;
  background-image: url(../images/logo_place_footer.png);
}
feynman_background_image {
  background-image: url(../images/feynman.png);
}
