.header {
  margin: 0 auto;
  padding: 0;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.header__title{
  margin: 0 auto;
  padding: 0;
  font-size: 102px;
  line-height: 96px;
  font-weight: 600;
  z-index: 1;
  width: 50%;
  margin-left: 64px;
}

.header__subtitle{
  margin: 0 auto;
  padding: 0;
  font-size: 18px;
  line-height: 25px;
  position: absolute;
  width: 27%;
  bottom: 30px;
  left: 64px;
  z-index: 1;
}

.header__link{
  margin: 0 auto;
  padding: 0;
  margin: 0 auto;
  padding: 0;
  font-size: 18px;
  line-height: 25px;
}

.header__link:hover {
  opacity: .7;
  transition: opacity .3s ease;
}

.header__square-pic{
  margin: 0 auto;
  padding: 0;
  height: 568px;
  width: 568px;
  position: absolute;
  right: 0;
  top: 64px;
  background-color: #2f80ed;
  z-index: 0;
}

.header__main-illustration{
  margin: 0 auto;
  padding: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 608px;
  width: 765px;
  z-index: 0;
}
