.table{
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(5, 200px);
  row-gap: 80px;
  column-gap: 30px;
  position: relative;
  z-index: 2;
  list-style-type: none;
  padding-top: 80px;
}

.table__cell{
  margin: 0 auto;
  padding: 0;
  width: 200px;
  color: white;
  display: grid;
  grid-template: 1fr 1fr / 1fr;
  row-gap: 10px;
}

.table__heading{
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 1.15;
  font-weight: 600;
  padding-bottom: 20px;
}

.table__text{
  margin: 0 auto;
  padding: 0;
  font-size: 18px;
  line-height: 1.2;
  width: 100%;
}
